<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="app" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div class="app__login">
            <div class="app__login-title">
                Đổi mật khẩu
            </div>
            <form action="/auth/reset-password/token/<%= id %>" method="POST" class="app__login-form">
                <div class="app__login-form-group">
                    <label for="password" class="app__login-form-group__label">
                        Mật khẩu
                    </label>
                    <input type="text" name="password" class="app__login-form-group__input">
                </div>
                <div class="app__login-form-group">
                    <label for="rePassword" class="app__login-form-group__label">
                        Nhập lại
                    </label>
                    <input type="text" name="rePassword" class="app__login-form-group__input">
                </div>
                <button class="app__login-form__button">
                    Đổi mật khẩu
                </button>
            </form>
        </div>
    </div>
</body>
</html>